<div class="jumbo">
  <div class="right "></div>
  <h2>Paklāju bode </h2>
  <p>
  Sia „ Paklāju bode ” Latvijas tirgū strādā jau kopš 1999.gada un ir viena no vadošajām kompānijām, kas nodarbojas ar grīdas segumu  tirdzniecību Latvijā.
   <br>
  Daudzo gadu laikā esam ieguvuši lielu pieredzi apdares materiālu tirdzniecībā. Īpašu uzmanību veltām produkcijas klāsta izvēlei un apkalpošanas servisam.
  <br>
    Sia „ Paklāju bode ” piedāvā saviem klientiem izdevīgus sadarbības noteikumus, konkurēt spējīgas cenas, kvalitatīvu servisu un plašu preču sortimentu.
    <br>
</p>


</div>
