<div class="container">
  <div class="menu">

      <h1>
        <em>PaklÄju veikals </em>
      </h1>


    <div class="left links">
     {{#link-to 'carpets' class="button"}}Veikals{{/link-to}}
     {{#link-to 'about' class="button"}}Par mums{{/link-to}}
     {{#link-to 'contact' class="button"}}Kontakti{{/link-to}}
     {{#link-to 'add' class="button"}}Pievienot{{/link-to}}

    </div>
  </div>


  <div class="body">
    {{outlet}}
  </div>


  <p class="footer"> Krists Abelnieks</p>
</div>
