<div class="jumbo">
  <div class="right"></div>
  <h2>Kontakti</h2>
  <p>Ja jums rodas kādi jautājumi vai ieteikumi, kontaktējieties ar mums izmantojot mūsu epasta adresi</p>
  <p>
    <address>
     Lielirbes iela 29<br>
      Rīga, LV-1046
    </address>
    <a href="mailto:info@paklajubode.com">info@paklajubode.com</a>
  </p>
</div>
